@font-face {
  font-family: optima;
  src: url("fonts/Optima.woff2") format("woff2"),
    url("fonts/Optima.woff") format("woff"),
    url("fonts/Optima.ttc") format("truetype-collection");
  font-display: swap;
}

@font-face {
  font-family: tiemposHeadline-black;
  src: url("fonts/TiemposHeadline-Black.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Black.woff") format("woff"),
    url("fonts/TiemposHeadline-Black.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-black-italic;
  src: url("fonts/TiemposHeadline-BlackItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-BlackItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-BlackItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: tiemposHeadline-bold;
  src: url("fonts/TiemposHeadline-Bold.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Bold.woff") format("woff"),
    url("fonts/TiemposHeadline-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: tiemposHeadline-bold-italic;
  src: url("fonts/TiemposHeadline-BoldItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-BoldItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-BoldItalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-light;
  src: url("fonts/TiemposHeadline-Light.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Light.woff") format("woff"),
    url("fonts/TiemposHeadline-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-light-italic;
  src: url("fonts/TiemposHeadline-LightItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-LightItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-LightItalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-medium;
  src: url("fonts/TiemposHeadline-Medium.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Medium.woff") format("woff"),
    url("fonts/TiemposHeadline-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-medium-italic;
  src: url("fonts/TiemposHeadline-MediumItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-MediumItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-MediumItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: tiemposHeadline-regular;
  src: url("fonts/TiemposHeadline-Regular.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Regular.woff") format("woff"),
    url("fonts/TiemposHeadline-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-regular-italic;
  src: url("fonts/TiemposHeadline-RegularItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-RegularItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-RegularItalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-semi-bold;
  src: url("fonts/TiemposHeadline-Semibold.woff2") format("woff2"),
    url("fonts/TiemposHeadline-Semibold.woff") format("woff"),
    url("fonts/TiemposHeadline-Semibold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: tiemposHeadline-semi-bold-italic;
  src: url("fonts/TiemposHeadline-SemiboldItalic.woff2") format("woff2"),
    url("fonts/TiemposHeadline-SemiboldItalic.woff") format("woff"),
    url("fonts/TiemposHeadline-SemiboldItalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: unicode-optima;
  src: url("fonts/unicode.optima.woff2") format("woff2"),
    url("fonts/unicode.optima.woff") format("woff"),
    url("fonts/unicode.optima.ttf") format("truetype");
  font-display: swap;
}

* {
  --gold: #c1a06b;
  --white: #fff;
  --gray: #434542;
  --font-grey: #616161;
  --form-backdrop: #000302;
  --beige: #f9f7f0;
  --dark-gold: #cba554;
  --font-dark-gold: #755527;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "optima";
  font-size: 16px;
  scroll-margin-top: 70px;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
/* @media (max-wdith:768px) {
  *{
  scroll-margin-top:100px ;
  }
} */

h1 {
  font-size: 5.58rem; /* 67pt */
}

h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "tiemposHeadline-light";
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "tiemposHeadline-light";
  color: var(--font-grey);
}

.mHide {
  display: block !important;
}

.dHide {
  display: none !important;
}


@media (max-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  .mHide {
    display: none !important;
  }
  
  .dHide {
    display: block !important;
  }

}
p {
  font-family: optima;
  font-size: 1.33rem; /* 16pt */
}

button {
  font-family: tiemposHeadline-regular !important;
  font-size: 1.3rem !important; /* 20pt */
  font-weight: 500 !important;
  box-shadow: 36px 14px 56px -30px rgba(0, 0, 0, 1),
    -5px 2px 37px 0px rgba(0, 0, 0, 0.22) !important;
    cursor: pointer;
}
@media (max-width: 768px) {
  button {
    width: 92%;
  }
}
.heading-h1 {
  font-size: 3.13rem; /* 37.5pt */
}

.text-gold {
  color: var(--gold);
}
body {
  position: relative;
  /* width: 100%; */
}
section {
  /* overflow: hidden; */
  scroll-margin-top: 90px;
  overflow: clip;
}
.screen-backdrop {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.pop-up-form {
  width: 30%;
  z-index: 1001;
  background-color: var(--beige);
  border: 2px solid var(--gold);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}
#close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor:pointer;
}
.pop-up-form h2 {
  font-size: 3rem;
}
.pop-up-form form button {
  background-color: red;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .pop-up-form {
    width: 84%;
  }
  .pop-up-form h2 {
    font-size: 2rem;
  }
}
.enquire-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 900;
  right: 0;
}

.enquire-now {
  background-color: var(--gold);
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999;
  height: 170px;
  width: 35px;
  writing-mode: vertical-rl;
  text-align: center;
  color: #000;
  text-decoration: none;
  transform: rotate(180deg);
  transform-origin: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* button{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 20px;

} */
.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 20px;
}

/* nav bar */

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.call-btn img {
  height: 16px;
}
.navbar-toggler:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .logo img {
    height: 36px;
    width: 100%;
  }
  .enquire-now {
    top: 40%;
  }
}
@media (max-width: 470px) {
  .logo img {
    height: 30px;
    width: 100%;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .nav-link img {
    height: 14px;
    width: 14px;
  }
}
/* banner */

.banner{
  height: 100vh;
}
.banner-swiper .swiper-slide img{
  height: 100vh;
  width: 100%;
}
.banner-navigation {
  position: absolute;
  background-attachment: plum;
  z-index: 10;
  bottom: 15%;
  right: 5%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.banner-text h1:nth-of-type(1) {
  font-size: 3.13rem;
}
.banner-text h1:nth-of-type(2) {
  font-size: 5.58rem;
}
.banner form input::placeholder {
  color: gainsboro;
}
.banner h2 {
  font-size: 1.2rem;
}
.banner form input {
  color: var(--white) !important;
}
@media (max-width: 768px) {
  .banner{
    height: 80vh;
  }
  .banner-swiper .swiper-slide img{
    height: 80vh;
    width: 100%;
  }
  .banner-text h1:nth-of-type(1) {
    font-size: 1.5rem;
  }
  .banner-text h1:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .banner form {
    display: none;
  }
}

/* overview */
.overview p {
  width: 75%;
}
.overview h2 {
  margin-bottom: 0px;
}
/* .overview h3{
  font-size: ;
} */
.artist-imp {
  position: absolute;
  top: 10%;
  left: 64px;
  z-index: 12;
  font-size: 10px;
  color: var(--white);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: unicode-optima;
  width: fit-content !important;
  /* background-color: red; */
}
@media (max-width: 768px) {
  .overview p {
    width: 100%;
  }
  .artist-imp {
    position: absolute;
    top: 10%;
    left: 14%;
    z-index: 12;
    font-size: 8px;
    color: var(--white);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: unicode-optima;
    width: fit-content !important;
  }
}
/* location */
.location h2 {
  font-family: "tiemposHeadline-light";
}
.location-points-wrapper {
  margin: 0 200px;
}
.location-points .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  height: 100px;
  width: 100px;
}

.location-navigation {
  z-index: 10;
  position: absolute;
  right: 0%;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.loc-point h3 {
  font-size: 1.2rem;
  font-family: tiemposHeadline-bold;
  color: var(--font-dark-gold);
  /* background-color: red; */
}
.loc-point p {
  font-size: 14px;
}
@media (max-width: 768px) {
  .location-points .image-wrapper {
    padding: 24px;
    height: 90px;
    width: 90px;
  }

  .location-navigation {
    right: unset;
        Left: 50%;
        transform: translate(-50%, -100%);
  }
  .loc-point p {
    width: 80%;
  }
}
/* amenities */

.amenities-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: start;
}
.amenities-head {
  width: 20%;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 15px;
  color: var(--gray);
}
.amenities-head h2 {
  transform: rotate(180deg);
}
.expanding-cards {
  overflow-x: hidden;
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.amenities-img-card {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 100%;
  color: white;
  flex-shrink: 0;
  flex: 1;
  transition: flex 0.75s ease-in-out;
}
.amenities-img-card .backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.062),
    rgb(31, 31, 31)
  );
  backdrop-filter: blur(0px);
  z-index: 1;
}


.overlay-content {
  width: 100%;
  height: 100%;
}

.expanding-card-head {
  position: absolute;
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.75s ease-in-out;
}

.expanding-card-head h3 {
  margin-bottom: 10px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 0.95rem;
  text-transform: uppercase;
  color: var(--white);
  z-index: 4;
  letter-spacing: 2px;
}
.expanding-card-head img {
  z-index: 4;
}
.amenities-img-card p {
  position: absolute;
  opacity: 0;
  bottom: 4%;
  margin-left: 12%;
  margin-right: 4%;
  text-align: start;
  transition: opacity 1s ease-in; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(20px); 
  transition: transform 850s ease-in, opacity 0.1s ease-in;
}
.amenities-img-card.active {
  flex: 3;
}
.amenities-img-card.active .expanding-card-head {
  width: 10%;
}
.amenities-img-card.active p.active  {
  opacity: 1;
  z-index: 4;
  color: white !important;
  transform: translateY(0);
}
.text-gold {
  color: var(--gold);
}

/* h3 {
  font-size: 1.5rem;
} */

p {
  font-size: 0.9rem;
}
.expand-card-navigation {
  position: absolute;
  top: 103%;
  right: 15%;
  display: none;

  gap: 14px;
  justify-content: space-between;
}
.expand-card-navigation .button {
  display: flex;
  gap: 14px;
}

@media (max-width: 768px) {
  .expand-card-navigation {
    display: none;
  }
}

/* accordion for amenities */
.amenities-accordion .heading {
  padding: 14px 0;
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 14px;
}
.amenities-accordion .header {
  font-size: 32px;
  letter-spacing: 12px;
  padding: 14px 0;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 24px;
  color: var(--font-grey);
  font-weight: 500;
}
.accordion-item {
  border: none;
  margin-bottom: 16px; /* Add gap between accordions */
}

.accordion-header {
  background-color: var(--dark-gold); /* Use dark gold for header */
}

.accordion-button {
  color: var(--gray);
  background-color: var(--dark-gold); /* Button with --dark-gold background */
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-family: optima;
  text-transform: uppercase;
  box-shadow: none !important;
}
.accordion-button::after {
  content: none;
}
.accordion-body {
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  overflow: hidden; /* To ensure content doesn't overflow */
}
.accordion-body .backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Add translucent black backdrop */
  backdrop-filter: blur(0px); /* Apply the blur backdrop filter */
  z-index: 1; /* Make sure it's behind the content */
}

/* Ensure content is on top of the backdrop */
.accordion-body h3,
.accordion-body img,
.accordion-body p {
  position: relative;
  z-index: 2;
}
.accordion-body .heading {
  position: relative;
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -30px;
}
.accordion-body h3 {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  transform: rotate(180deg);
  color: var(--white);
  text-transform: uppercase;
  left: 7px;
}

.accordion-body .heading img {
  margin: 10px 0;
  max-width: 3px;
}


.accordion-body p {
  position: absolute;
  bottom: 10px;
  left: 26px;
  right: 20px;
  margin: 0;
  font-weight: 500;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 0px;
}
.accordion-button:not(.collapsed) {
  background-color: var(--dark-gold);
  box-shadow: none;
}
.accordion-button {
  outline-color: transparent !important;
}
.accordion-button:focus {
  box-shadow: none;
}
/* gallery */
.gallery h2 {
  font-family: "tiemposHeadline-light";
  font-weight: 400;
}

.gallery-arrows {
  z-index: 35;
  top: 84%;
  right: 12%;
  position: absolute;
  display: flex;
  gap: 14px;
}
.gallery-card {
  height: 750px;
  position: relative;
  perspective: 1500px;
}

.gallery-card img {
  padding: 36px;
  object-fit: contain;
  transition: padding 0.1s ease-in-out, box-shadow 0.5s ease-in;
}
.gallery .slick-slide img {
  padding: 36px;
  object-fit: contain;
  transition: padding 0.3s ease-in-out, box-shadow 0.5s ease-in;
}
.gallery .slick-center img {
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.6) -4px 4px 40px -5px;
}
.gallery .slick-center h3 {
  margin-top: 32px !important;
}
.gallery-card h3 {
  color: var(--font-dark-gold);
}

.gallery-card p {
  width: 80%;
  margin: 0 auto;
}
.gallery .slick-slider {
  overflow-x: hidden;
  overflow-y: visible;
}
.gallery-swiper .slick-track {
  overflow-y: visible !important;
}
.gallery-swiper .slick-list {
  overflow: visible !important;
}
@media (max-width: 1440px) {
  .gallery-card {
    height: 670px;
  }
}

@media (max-width: 1220px) {
  .gallery-card {
    height: 600px;
  }
}
@media (max-width: 768px) {
  .gallery-card {
    height: 100%;
  }
  .gallery-card img {
    padding: 0 36px;
  }
  .gallery .slick-center img {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0) -0px 0px 0px -0px;
  }
  .gallery .slick-center h3 {
    margin-top: 0px !important;
  }

  .gallery-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    top: 35%;
    left: 0;
    width: 100%;
  }
}

/* floor plan */
.floor h2 {
  font-family: "tiemposHeadline-light";
}
/* .floor-swiper .slick-track{
  overflow: visible !important;
} */
.floor-swiper .swiper-slide div {
  padding: 24px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.floor-swiper .swiper-slide img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.floor .swiper-button-prev::after,
.floor .swiper-button-next::after {
  content: none;
}

.floor .swiper-arrows {
  position: absolute;
  bottom: 20px;
  right: 2.5%;
  z-index: 1000;
  width: 100px;
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .floor .swiper-arrows {
    position: absolute;
    bottom: 200px;
    right: -16px;
    z-index: 9;
  }
  .floor-arrows {
    position: absolute;
    display: flex;
    gap: 14px;
    right: 36px;
  }
  .floor form button {
    justify-content: center;
  }
  .download-btn {
    justify-content: center;
  }
}

/* get in touch */
.get-in-touch h2 {
  font-family: "tiemposHeadline-light";
}
.map-location iframe
{
  width:100%;
}


.custom-input {
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  outline: none !important;
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  font-family: unicode-optima;
}

.custom-input::placeholder {
  color: var(--gray);
  /* padding-left: 8px; */
}

.custom-input:focus {
  border-bottom: 2px solid var(--gold);
  outline: black;
}

.get-in-touch-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.get-in-touch-form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 55%;
}
.get-in-touch-form button {
  font-family: unicode-optima !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .get-in-touch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin: 0 16px;
  }
  .get-in-touch-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 105%;
  }
  .get-in-touch-form form {
    width: 70% !important;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .get-in-touch-form form div {
    width: 100%;
  }
  .empty-area {
    display: none;
  }
  .get-in-touch-form button {
    padding: 14px 0 !important;
    font-size: 16px !important;
    width: 140%;
    font-weight: 600 !important;
  }
}
@media (max-width: 468px) {
  .get-in-touch h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 360px) {
  .get-in-touch h2 {
    font-size: 2.2rem;
  }
}
/* footer */
.art-wrap {
  position: relative;
}
.line-on-art {
  position: absolute;
  top: 50%;
  left: 0%;
}
@media (max-width: 768px) {
  .line-on-art {
    top: 36%;
    left: 0%;
    height: 8px;
  }
}



/* custom nav bar */

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo img {
  height: 40px;
}

.menu-li-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 14px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--primary-color);
}

.phone-link a {
  display: flex;
  align-items: center;
}

.phone-link img {
  height: 20px;
  margin-right: 5px;
}

.menu-wrapper {
  display: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 2px 0;
  transition: all 0.3s ease;
}
.nav-links-mob {
  display: none;
}

/* Media Queries */

@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .navbar .container {
    max-width: 1320px;
  }
}
@media (max-width: 1000px) {
  .navbar {
    padding:0px ;
  }
  .navbar .container {
    justify-content: space-between;
  }

  .nav-links-mob {
    position: fixed;
    right: -100%;
    top: 70px;
    height: max-content;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition: right 0.3s ease;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 8px;
  }
  .nav-links-mob li{
    list-style-type: none;
  }
  .nav-links-mob.show {
    right: 0;
  }

  .nav-links li {
    margin-bottom: 14px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-li-wrapper {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .logo img {
    height: 36px;
    width: 100%;
  }
  /* .enquire-now {
    top: 40%;
  } */
}
@media (max-width: 470px) {
  .logo img {
    height: 30px;
    width: 100%;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .nav-link img {
    height: 14px;
    width: 14px;
  }
}


.banner-form .form-group input {
  width: 100%;
  padding: 10px 0 10px 14px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #6b6b6b;
  border-bottom: 1px solid grey;
  transition: border-color 0.3s ease;
}

.banner-form .form-group{
  top: calc(50% - 0.6rem);
}
.banner-form .form-group label{
  top: calc(50% - 0.6rem);
  color: var(--white);
}

.banner-form input:focus + label,
.banner-form input:not(:placeholder-shown) + label {
  top: -0.05rem; 
  left: var(--pad);
  font-size: 0.8rem;
  color: var(--white); 
 
  transform: translateY(-0.35rem);
}
.banner-form .form-group input:focus {
  outline: none;
border-bottom: 1px solid var(--gold);
}

.form-group {
  --pad: 0.75rem;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  font-family: 'unicode-optima';
}

.form-group input {
  width: 100%;
  padding: 10px 0 14px 14px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  transition: border-color 0.3s ease;
}



label {
  position: absolute;
  left: var(--pad);
  top: calc(50% - 0.5rem);
  pointer-events: none;
  color: grey;
  font-size: 16px;
  transition: all 0.3s ease;
}


input:focus + label,
input:not(:placeholder-shown) + label {
  top: -0.05rem; 
  left: var(--pad);
  font-size: 0.8rem;
  color: var(--gold); 
 
  transform: translateY(-0.20rem);
}
.form-group input:focus {
  outline: none;
border-bottom: 1px solid var(--gold);
}
input:not(:focus) + label{
  color: var(--font-grey);
}


input::placeholder {
  opacity: 0;
}
